header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-text);
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #322f36;
}

.navMenu {
	display: flex;
	gap: 40px;
}

.navLink {
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
}

.promote {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 20px 70px 20px;
}

.promote p {
	text-align: center;
}

.promoteBtn {
	margin-top: 35px;
}

.editable {
	cursor: pointer;
	transition: all 0.2s;
	box-sizing: border-box;
	transition: outline 0.2s ease, box-shadow 0.2s ease;
}

.editable.selected {
	outline: 2px dashed yellow;
	outline-offset: 4px;
	background-color: rgba(52, 152, 219, 0.05);
}

.editorSidebar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 300px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	color: var(--text-2);
	background: var(--primary-text);
	border-left: 1px dashed yellow;
	border-bottom: 1px dashed yellow;
	padding: 20px;
	z-index: 1000;
}

.editorIcon {
	display: flex;
	gap: 10px;
	justify-content: end;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--label-1);
}

.icons {
	font-size: 22px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.icons:hover {
	transform: scale(0.93);
	color: var(--primary);
}

.icons:nth-last-child(1):hover {
	color: rgb(235, 77, 77);
}

.activeMode {
	color: var(--primary);
}

.hidden {
	display: none;
}

.editorSidebar input {
	margin-top: 5px;
}

.editorSidebar input,
.editorSidebar textarea {
	width: 100%;
	font-size: 16px;
	padding: 8px;
	color: var(--text-2);
	background-color: transparent;
	border: 1px solid var(--primary);
	border-radius: 4px;
}

.editorSidebar textarea {
	min-height: 150px;
}

.fontStyle {
	margin-top: -15px;
}

.editorSidebar button {
	padding: 8px 12px;
	background-color: var(--primary);
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

.editorTitle {
	text-align: right;
}

.editorTitle h3 {
	text-align: center;
}

.editorSidebar p {
	margin-top: 10px;
}

.styleBtn {
	font-weight: bold;
	font-size: 16px;
	transition: all 0.2s ease;
	background-color: inherit !important;
}

.settingIcons {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 22px;
}

.settingIcons span {
	font-size: 16px;
	font-weight: bold;
}

.previewWrapper {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	border: 1px solid #ccc;
	z-index: 100;
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.previewModal {
	z-index: 200;
}

.deviceIcons {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
	z-index: 300;
}

.deviceIcons div {
	display: flex;
	font-size: 22px;
	padding: 10px;
	background: var(--bg-3);
	border: 1px solid #fff;
	border-radius: 8px;
	margin-top: 10px;
}

.deviceIcon.active {
	background-color: var(--primary);
	border-color: var(--primary);
}

.activeIcons {
	background-color: var(--primary);
}

.previewFrame {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.previewFrame iframe {
	border: 1px solid #ddd;
	width: 1200px;
	height: 100vh;
	margin-top: 150px;
	border: none;
	background-color: #fff;
	overflow-y: hidden;
	transition: width 0.3s ease;
}

iframe.device-desktop {
	width: 1200px;
}

iframe.device-tablet {
	width: 640px;
}

iframe.device-mobile {
	width: 400px;
}

@media only screen and (max-width: 640px) {
	.nav {
		padding: 30px 0;
		gap: 30px;
		flex-direction: column;
	}

	.none {
		display: none;
	}
}

@media only screen and (max-width: 479px) {
	.promote {
		padding-right: 10px;
		padding-left: 10px;
	}

	.paragraph {
		padding: 0 5px;
	}

	header img {
		width: 100%;
	}
}
