:root {
	--bg-1: #2e2836;
	--bg-2: #332c3e;
	--bg-3: #382f46;
	--bg-4: #3f3352;
	--bg-5: #f9f9f9;
	--bg-6: #37323d;
	--primary: #3d9f96;
	--primary-text: #27242b;
	--secondary-text: #ababab;
	--text-1: #eaeaea;
	--text-2: #d5d5d5;
	--label-1: #7e7e7e;
	--border-1: #322f36;
}
